html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
* {
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient( to left, #e17425, #b8a89e );
    height: 55px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    margin: 0;
}

.cabecalho{
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
}

.lista_cabecalho{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    font-size: 1.2rem;
}

.lista_cabecalho li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    align-items: center;
}

.lista_cabecalho a{
    text-decoration: none;
    color: black;
}

.logo{
    height: 70px;
    border-radius: 100%;
    margin-left: 10px;
}

.background{
    width: 100%;
    

}
.overlay {
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(2, 2, 2);
    padding: 30px; 
    background: rgba(255, 247, 213, 0.7);
    width: 850px;
    height: 450px;
    
}

.overlay h1 {
    margin-top: 60px;
    font-size: 2.5rem;
    padding: 50px;
    text-align: left;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    
}

.botaoover{
    padding: 20px 50px;
    border: 1px solid transparent;
    font-weight: bold;
    background: linear-gradient( to right, #e17425, #b8a89e);
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    
}

.divagenda img, .divdisponiveis img, .divgaleria img {
    width: 450px;
    height: 450px;
}

.tresemum {
    display: flex;
    overflow-x: auto;
    margin-top: 0px;
    width: 100%;}


.secdiv{
    margin-top: 0px;
}
