html {
    height: 100%;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

html, body{
    margin: 0;
}

.cabecalho{
    background-color:#E6EDE3;
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
}

.lista_cabecalho{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.lista_cabecalho li{
    display: inline-block;
    list-style: none;
   margin-right: 70px;
    align-items: center;
}

.logo{
    height: 90px;
    border-radius: 100%;
}
