* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-shadow: 0.2em 0.2em 0.2em black;

}

.headerindex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

body {
    background: #d0c1b2;
}

.cabecalho {
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
}

.lista_cabecalho {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    font-size: 1.2rem;
    color: white;

}

.lista_cabecalho li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    align-items: center;
    transition: transform 0.2s;
    color: white;
    font-size: 23px;


}

.lista_cabecalho li:hover {
    transform: scale(1.1);
    color: #9d6b2a;
    text-decoration: line-through;
}



.lista_cabecalho a {
    text-decoration: none;
    color: black;
}

.logo {
    height: 70px;
    border-radius: 100%;
    margin-left: 20px;

}

.background {
    width: 100%;
    margin-bottom: -5px;


}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(2, 2, 2);
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    width: 850px;
    height: 400px;
    border-radius: 25px;
    margin-bottom: 150px;
}

.overlay h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    padding: 50px;
    text-align: left;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.botaoover {

    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s;
    background: #9d6b2a;
    padding: 50px 100px;
    background: rgba(0, 0, 0, 0.5);
    border: solid 1px transparent;
    font-size: 30px;
}



.botaoover:hover {
    transform: scale(1.1);
    text-decoration: line-through;
    color: #000000;
}

.tresemum {
    display: flex;
    width: 100%;
}

.divgaleria,
.divagenda,
.divdisponiveis {
    text-align: center;
    position: relative;
    margin: 0px;
}

.divgaleria img,
.divagenda img,
.divdisponiveis img {
    width: 100%;

    height: auto;
    margin: 0 auto;
    transition: transform 0.2s;

}


.butgaleria,
.butagenda,
.butdisponiveis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 80px;
    border: solid 1px transparent;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;


}

.butgaleria a,
.butagenda a,
.butdisponiveis a,
.buthistoria a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}


.butgaleria:hover,
.butagenda:hover,
.butdisponiveis:hover {
    text-decoration: line-through;
    color: #9d6b2a;
}

footer {
    color: white;
    padding: 5px;
    text-align: center;
    background: linear-gradient(to right, #333, #474646);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}



.social {
    padding: 10px;
}

.address {
    padding: 10px;
    margin-bottom: 0;
}


.divhistoria {
    text-align: center;
    position: relative;
    margin: 0px;

}

.divhistoria img {
    width: 100%;
    margin-bottom: -5px;
    margin-top: -5px;
}

.social a{
    text-decoration: none;
}


.buthistoria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 80px;
    background: rgba(0, 0, 0, 0.6);
    border: solid 1px transparent;
    font-size: 30px;
    border-radius: 16px;

}

.buthistoria:hover {
    text-decoration: line-through;
    color: #9d6b2a;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.bodygallery {
    background: linear-gradient(to right, #333, #121212)
}

.bodygallerydispo {
    background: linear-gradient(to right, #333, #121212)
}

.gallery img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    margin-top: 5px;
    margin-left: 10px;
}

.gallerydispo img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    margin-top: 5px;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallerydispo img:hover {
    transform: scale(1.1);
}

.gallery {
    column-count: 4;
    column-gap: 45px;
    padding: 10px;
}

.gallerydispo {
    column-count: 3;
    column-gap: 45px;
    padding: 10px;
}



.perguntas {
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(2, 2, 2);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 850px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin: 100px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: pointer;
}

.divfaq {
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    margin: 45px 200px 45px 200px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0.2em 0.2em 0.2em black;
    ;
}

.divfaq h1 {
    font-size: 20px;
    text-shadow: 0.3em 0.3em 0.3em black;

}

.divfaq p {
    font-size: 19px;
}

.bodyfaq {
    background-image: url(Images/BackgroundHome-min.jpg);
    backdrop-filter: blur(5px);
}

.container {
    display: flex;
    align-items: center;
}

.container img {
    height: 300px;
    border-radius: 100%;
}

.container2 {
    display: flex;
    align-items: center;
}

.container2 img {
    height: 200px;
}

.container3 {
    display: flex;
    align-items: center;
}

.container3 img {
    height: 200px;
}

.container4 {
    display: flex;
    align-items: center;
}



.divcontainer {

    margin: 85px;
    font-size: 5px;
    padding: 0px 40px 0px 40px;


}

.divcontainer img {

    margin: 10px;
    border-radius: 100%;
    height: 300px;


}


.divcontainer p {
    font-size: 21px;
    color: aliceblue;
    font-weight: 100;
    text-shadow: 0.2em 0.2em 0.2em black;

}

.escrito {

    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
    margin-top: 50px;
    border: 2px solid transparent;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.butescrito {
    padding: 30px 100px;
}

.orcamentosbody {
    text-align: center;
    background-image: url(Images/BackgroundHome-min.jpg);
    backdrop-filter: blur(5px);
}

.divbody {
    margin-top: 75px;
}

.bodyhistoria{
    background: linear-gradient(to right, #333, #666);
}
